<h1>Nuestra Historia</h1>
<p>Somos estudiantes de la carrera profesional de Ingenieria de Sistema, que desarrollamos esta aplicacion para el curso de Desarrollo para Entorno Web</p>

<p>Nuestro grupo esta conformado por los siguientes alumnos:</p>
<ul>
   <li>Luis Miguel Sanchez Oreallano</li>
   <li>Sebastian Callan Vasquez</li>
   <li>Cristian Jesus Villon Juscamayta</li>
   <li>Geovani Ives Espinoza Ruiz</li>
   <li>Sergio Marroquin Leon</li>
</ul>



